/***********************************************header************************************/
header{
    margin-bottom: 50px;
    border-bottom: 1px solid grey;
}
h5,p{
    color: rgba(0, 0, 0, 0.8);
}


/********************************************End of header********************************/

/***********************************************all htmls*********************************/
.sec2{
    margin-left: 90px;
}
.card-title > a{
    color: rgba(0, 0, 0, 0.9);;
}
li > a{
    color: grey;   
}
.card-title > a:hover ,li > a:hover{
    color: rgba(228, 120, 51, 1);
} 

/********************************************all htmls*****************************/

/***********************************************indexl*********************************/ 
.l{
    border-top:none; 
}

/********************************************all indexl*****************************/
