.room{
    display: flex;
    flex-direction: row;
}
h1{
    text-align: center;
}
.section-1 a{
    font-family: 'Titan One', cursive;}
  .section-1 .navbar-brand{
    padding-left: 20px;
    color: rgba(228, 120,51, 1);
  }
  .section-1 .nav-link:hover{
   color:gray;
  }
  .section-1 .nav-link{
    color: rgba(228, 120,51, 1);
    position: relative;
    left: 600px;
  }
  .col-md-2 a{
    color: black;
     }
     .col-md-3 a{
      color: black;
     }
     .col-md-3 a:hover{
      color: rgba(228, 120,51, 1);
     }
     .col-md-2 a:hover{
      color: rgba(228, 120,51, 1);
     }
  
  
  